CREATE TABLE users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL
);

CREATE TABLE game (
    game_id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL
);

CREATE TABLE game_session (
    session_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    game_id INT NOT NULL,
    start_time DATETIME NOT NULL,
    end_time DATETIME,
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id)
);

CREATE TABLE minigame (
    minigame_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    game_id INT NOT NULL,
    FOREIGN KEY (game_id) REFERENCES game(game_id)
);

CREATE TABLE message (
    message_id INT AUTO_INCREMENT PRIMARY KEY,
    content TEXT NOT NULL,
    message_type VARCHAR(50) NOT NULL, -- e.g., 'email', 'chat', 'quiz_question'
    minigame_id INT NOT NULL,
    FOREIGN KEY (minigame_id) REFERENCES minigame(minigame_id)
);

CREATE TABLE decision (
    decision_id INT AUTO_INCREMENT PRIMARY KEY,
    approved BOOLEAN NOT NULL, -- true = Safe/Approved, false = Unsafe/Rejected
    session_id INT NOT NULL,
    message_id INT NOT NULL,
    FOREIGN KEY (session_id) REFERENCES game_session(session_id),
    FOREIGN KEY (message_id) REFERENCES message(message_id)
);

CREATE TABLE highlight (
    highlight_id INT AUTO_INCREMENT PRIMARY KEY,
    selected_text TEXT NOT NULL,
    decision_id INT NOT NULL,
    FOREIGN KEY (decision_id) REFERENCES decision(decision_id)
);

CREATE TABLE score (
    score_id INT AUTO_INCREMENT PRIMARY KEY,
    value INT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    user_id INT NOT NULL,
    session_id INT NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (session_id) REFERENCES game_session(session_id)
);

CREATE TABLE leaderboard_entry (
    entry_id INT AUTO_INCREMENT PRIMARY KEY,
    score_id INT NOT NULL,
    rank INT NOT NULL,
    FOREIGN KEY (score_id) REFERENCES score(score_id)
);

